PyYAML~=6.0.1
python-dotenv~=1.0.1
langchain~=0.2.8
pyperclip~=1.9.0
langchain-community~=0.2.7
dateparser~=1.2.0
icalendar~=5.0.13
recurring-ical-events~=2.2.3
pynput~=1.7.7
langchain-groq~=0.1.6
langchain-openai~=0.1.17
langchain-google-genai~=1.0.7
langchain-mistralai~=0.1.10
simpleaudio~=1.0.4
typing~=3.7.4.3
deepgram-sdk~=3.4.0
pytest~=8.2.2
